@page
@model BuchhaltungRazor.Pages.Aufwands.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aufwand</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aufwand.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aufwand.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aufwand.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aufwand.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aufwand.Betrag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aufwand.Betrag)
        </dd>
       
        
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Aufwand.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
