@page
@model BuchhaltungRazor.Pages.Aufwands.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Aufwands</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aufwand[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aufwand[0].Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aufwand[0].Betrag)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aufwand) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Betrag)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>|
                <a asp-page="../AufwandLists/Index" asp-route-id="@item.ID">List</a>|
                <a asp-page="../Schedules/Index" asp-route-id="@item.ID">Schedules</a>
            </td>
        </tr>
}
    </tbody>
</table>
