@model Bewerbungsdaten.Models.Standort

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Standort</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Art)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Art)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElternId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElternId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
